// Import Normalize
@import "normalize.scss";

// Import Foundation
@import "settings";
@import "foundation/components/global";
@import "foundation/components/type";

@import "foundation/components/grid";
@import "foundation/components/block-grid";

@import "foundation/components/buttons";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";

@import "foundation/components/forms";

// Import Site Styles
@import "sections.scss";
@import "nav.scss";
@import "forms.scss";
@import "posts.scss";



.download-btn {

  @include button( $bg:#9bb72e );
  &:focus { outline: none; }
  width: 100%;
}
.dropdown-btn {

  @include button( $bg:#9bb72e );
  @include dropdown-button();
  width: 100%;

  &:focus { outline: none; }
}

.pub-downloads {
  @include block-grid(1);

  padding: 0 0.9375rem;

  @media #{$large-up} {
    @include block-grid(3);

    padding: 0 0.9375rem;
  }
}

